<?xml version="1.0" encoding="UTF-8"?>
<!--
  Unit tests for the framework-free parts of the plugin (Lib/). These run
  with plain PHPUnit outside COmanage Registry:

    composer install
    vendor/bin/phpunit
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
  <testsuites>
    <testsuite name="lib">
      <directory>Test/Case/Lib</directory>
    </testsuite>
  </testsuites>
</phpunit>
